@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,600&family=Rubik:wght@300;400;500&display=swap");

@import "tailwindcss";

@import "./base.css";
@import "./layout.css";
@import "./components.css";
@import "./utilities.css";

@theme {
  --breakpoint-sm: 320px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1152px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1920px;
}
