@theme {
  /* ===== Fonts ===== */
  --font-body: "Poppins", sans-serif;
  --font-heading: Raleway, sans-serif;

  /* ===== Colors ===== */
  --color-title: #473729;
  --light-bg: #f1eded;
  --color-darkolive: #3c3b0f;
  --color-white: #ffffff;
  --color-accent: #809b10;
  --color-dark: #232828;

  /* ===== Typography ===== */
  --text-12: 12px;
  --text-xs: 13px;
  --text-sm: 14px;
  --text-15: 15px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-l: 22px;
  --text-xl: 26px;
  --text-2xl: 32px;
  --text-3xl: 36px;
  --text-4xl: 50px;

  /* =====  letter-spacing ===== */
  --ls-sm: 0.8;
  --ls-tight: 0.34px;
  --ls-lg: 0.77px;
  --ls-md: 0.39px;
  --ls-wide: 1.14px;

  /* =====  border-radius ===== */
  --radius-5: 5px;

  /* padding - margin - height - width - gap */
  --spacing: 1px;
  --spacing-5: 5px;
  --spacing-7: 7px;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-12: 12px;
  --spacing-13: 13px;
  --spacing-20: 20px;
  --spacing-21: 21px;
  --spacing-22: 22px;
  --spacing-22-5: 22.5px;
  --spacing-23: 23px;
  --spacing-24: 24px;
  --spacing-25: 25px;
  --spacing-26: 26px;
  --spacing-29: 29px;
  --spacing-30: 30px;
  --spacing-31: 31px;
  --spacing-32: 32px;
  --spacing-37: 37px;
  --spacing-38: 38px;
  --spacing-39: 39px;
  --spacing-40: 40px;
  --spacing-41: 41px;
  --spacing-42: 42px;
  --spacing-45: 45px;
  --spacing-47: 47px;
  --spacing-50: 50px;
  --spacing-57: 57px;
  --spacing-64: 64px;
  --spacing-65: 65px;
  --spacing-66: 66px;
  --spacing-80: 80px;
  --spacing-100: 100px;
  --spacing-110: 110px;
  --spacing-115: 115px;
  --spacing-116: 116px;
  --spacing-118: 118px;
  --spacing-143: 143px;
  --spacing-150: 150px;
  --spacing-186: 186px;
  --spacing-199: 199px;
  --spacing-279: 279px;
  --spacing-380: 380px;
  --spacing-396: 396px;
  --spacing-560: 560px;
  --spacing-683: 683px;
  --spacing-797: 797px;
}
@layer base {
  body {
    @apply font-body font-normal;
    color: theme(--color-darkolive);
  }

  p {
    color: var(--color-darkolive);
    font-family: theme(--font-body);
    font-size: theme(--text-base);
    line-height: theme(--spacing-25);
    letter-spacing: theme(--ls-tight);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-darkolive);
    font-family: theme(--font-heading);
  }
}
