@theme {
  /* ===== Fonts ===== */
  --font-body: "Poppins", sans-serif;
  --font-heading: "Raleway", sans-serif;

  /* ===== Width ===== */
  --w-1243: 1243px;
  --w-491: 491px;

  /* ===== Heights ===== */
  --h-40: 40px;
  --h-42: 42px;
  --h-57: 57px;
  --h-560: 560px;
  --h-797: 797px;

  /* ===== Colors ===== */
  --color-title: #473729;
  --color-bg: #f1eded;
  --color-darkolive: #3c3b0f;
  --color-white: #ffffff;
  --color-text-primary: #3c3b0f;
  --color-accent: #809b10;
  --color-dark: #232828;

  /* ===== Typography ===== */
  --fs-12: 12px;
  --fs-50: 50px;
  --text-50px: 50px;
  --text-xs: 13px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-l: 22px;
  --text-xl: 26px;
  --text-2xl: 32px;
  --text-3xl: 36px;
  --text-4xl: 50px;

  /* =====  font-weight ===== */
  --font-light: 300;
  --font-normal: 400;

  /* =====  line-height ===== */
  --lh-sm: 22px;
  --lh-base: 25px;
  --lh-lg: 29px;
  --lh-xl: 38px;

  /* =====  letter-spacing ===== */
  --ls-sm: 0.8;
  --ls-tight: 0.34px;
  --ls-lg: 0.77px;
  --ls-wide: 1.14px;

  /* =====  radius ===== */
  --radius-sm: 5px;

  /* =====  top-spacing ===== */
  --top-150: 150px;

  /* =====  padding ===== */
  --p-12: 12px;
  --p-20: 20px;
  --p-50: 50px;
  --p-100: 100px;
  --pt-50: 50px;
  --p-24: 24px;
  --btn-md-px: 37px;
  --btn-md-py: 8px;
  --dining-padding-top: 10px;
  --dining-padding-x: 199px;
  --dining-padding-bottom: 23px;
  --dining-grid-top: 6.25rem;
  --dining-grid-x: 118px;
  --p-all: 84px 94px 84px 94px;

  /* =====  margin-top ===== */
  --mt-20: 20px;
  --mt-50: 50px;
  --mt-80: 80px;
  --mt-100: 100px;
  --mt-110: 110px;

  /* =====  gap ===== */
  --gap-7: 7px;
  --gap-21: 21px;
  --gap-24: 24px;
  --gap-26: 26px;
  --gap-30: 30px;
  --gap-32: 32px;
  --gap-40: 40px;
  --gap-41: 41px;
  --gap-45: 45px;
  --gap-47: 47px;
  --gap-50: 50px;
  --gap-64: 64px;
  --gap-143: 143px;
}
@layer base {
  body {
    font-family: theme(--font-body);
    font-weight: theme(--font-normal);
    color: theme(--color-text-primary);
  }

  p {
    color: var(--color-darkolive);
    font-family: theme(--font-body);
    font-size: theme(--text-base);
    line-height: theme(--lh-base);
    letter-spacing: theme(--ls-tight);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: theme(--font-heading);
    font-weight: theme(--font-normal);
  }
}
