@keyframes fadeInScroll {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn-scroll {
  opacity: 0;
}

/* header */
@layer layout {
  nav {
    @apply px-[65px];
  }
}

@layer components {
  .fixed-header {
    @apply fixed left-0 z-50 items-center w-full flex justify-between top-[33px] bg-transparent transition-colors transition-shadow duration-300 ease-linear;
  }

  .navbar {
    @apply hidden items-center font-body capitalize md:flex tracking-[0.34px] gap-[24px];
  }
  .logo {
    @apply hidden md:block object-contain md:w-100 lg:w-auto;
  }
  .menu-btn {
    @apply md:hidden text-white text-2xl;
  }
  .menu-icon {
    @apply p-3 mt-60 md:hidden fixed top-[50px] left-0 w-full bg-white z-40;
  }

  .menu-icon ul {
    @apply text-black;
  }

  .menu-icon li,
  .menu-icon li button {
    @apply text-sm px-16 py-6  rounded-sm ml-auto;
  }
  .header-sticky {
    @apply top-0 bg-black/85 backdrop-blur-md shadow-[0_4px_20px_rgba(0,0,0,0.25)];
  }

  .hero-content {
    @apply absolute items-center text-center gap-[39px];
  }

  .main-title {
    @apply text-3xl tracking-[0.8px];
  }

  /* Why book with us section */

  .why-book-inner {
    @apply items-center text-center xl:gap-[50px];
  }

  .info-block {
    @apply items-center gap-[13px];
  }

  .icon-title {
    @apply items-center;
  }

  .icon-title-text {
    @apply font-body font-normal text-base text-center tracking-[0.43px] leading-[100%];
  }
  .info-text p {
    @apply px-[7.5px] font-normal text-xs leading-[22px] text-center;
  }
  .heading-title {
    @apply font-heading text-xl sm:text-2xl md:text-3xl
         font-normal leading-none tracking-[1.14px] xl:text-4xl;
  }
  /* our-accommodation */
  .accommodation-content {
    @apply gap-[21px] lg:ml-[101px] lg:mr-[98px];
  }
  .accommodation-heading {
    @apply px-2 flex items-center justify-between;
  }
  .accommodation-detail {
    @apply font-light text-base tracking-[0.34px] leading-[25px] xl:mr-[622px];
  }
  .accommodation-card {
    @apply grid 
    grid-cols-1
    md:grid-cols-3 items-start w-full 
    lg:mt-[80px] gap-[41px] lg:pl-[99px] lg:pr-[98px];
  }
  .overlay-content {
    @apply absolute right-[54px] left-[27.67px] font-body text-black bottom-15 xl:bottom-36;
  }
  .tent-title {
    @apply font-body font-normal lg:leading-[36px] text-[14px] lg:tracking-[0.54px] lg:text-xl;
  }

  .explore-link {
    @apply font-body relative text-[15px] cursor-pointer decoration-0 tracking-[0.32px];
  }
  .explore-link::after {
    content: "";
    @apply absolute left-0 top-[16px] w-[40px] top-[26.39px] xl:w-[64px] h-[1px] bg-current;
  }

  /* experience */

  .experiences-details {
    @apply absolute gap-10
    md:mt-[50px] 
    lg:mt-[100px]  md:ml-[103px]
    xl:mt-[255px] xl:gap-[45px];
  }

  .experiences-heading {
    @apply gap-[5px]
    md:gap-[18px] 
    lg:gap-[20px]
    xl:gap-[24px];
  }
  .experiences-content {
    @apply gap-[5px] md:gap-[10px] lg:gap-[20px] xl:gap-[30px];
  }

  .experiences-description p {
    @apply text-[10px] 
    md:text-[13px]
    lg:text-[14px]
    xl:text-base md:leading-[25px] md:tracking-[0.34px] md:w-[50%];
  }

  .experience-actions {
    @apply flex md:flex-row md:px-2 xl:flex-row items-center w-full;
  }

  .game-drives {
    @apply flex items-center gap-12 xl:gap-[52px] ml-auto xl:mr-[103px];
  }

  .arrow-btn {
    @apply flex gap-12 w-60 lg:w-[40%] xl:gap-[24px];
  }
  /* Enquire Now */

  .swiper-wrapper-custom {
    @apply relative w-full;
  }

  .swiper-button-prev {
    @apply left-0 ml-[33px];
  }

  .swiper-button-next {
    @apply right-0 mr-[33px];
  }
  .swiper-wrapper-custom .swiper-button-next {
    @apply right-[33.05px];
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    @apply hidden;
  }

  .slide {
    @apply relative w-full;
  }

  .slide-content {
    @apply absolute inset-0 
         flex flex-col 
         items-center justify-center
         text-center
         px-4 md:px-[40px] lg:px-[115px] xl:px-[284px];
  }
  .slide-content .review p,
  .slide-content .author span {
    @apply font-normal font-heading;
  }

  .slide-content .review p {
    @apply text-[8px] md:text-lg xl:text-[22px];
  }

  .slide-content .author {
    @apply text-[8px] lg:mt-[20px] md:text-xs xl:text-[20px];
  }
  .slide-content .white-btn {
    @apply md:text-[10px] xl:text-lg xl:mt-[33px];
  }

  .mySwiper .swiper-pagination-bullet {
    @apply w-2 h-2 border border-white rounded-full;
  }

  .mySwiper .swiper-pagination-bullet-active {
    @apply bg-white;
  }

  /* dining */
  .dining-subsection {
    @apply grid gap-[24px];
  }
  .dining-grid {
    @apply grid
    grid-cols-1
    lg:grid-cols-2
    xl:grid-cols-2;
  }
  .dining-content {
    @apply grid gap-[64px] xl:mb-[110px] xl:ml-[114px] xl:mt-[110px] xl:mr-[109px];
  }
  .path {
    @apply w-screen mt-[90px];
  }

  /* footer */

  .footer-input {
    @apply grid gap-[26px] min-h-[57px] grid-cols-2 xl:grid-cols-[1fr_1fr_1.5fr_0.8fr];
  }
  .footer-input input {
    @apply border font-body text-base leading-none rounded-sm px-6 py-4 
    md:pt-[10px] md:pb-[12px] md:pr-[12px]
    xl:pt-[16px] xl:pb-[17px] xl:pr-[22px];
    border: 2px solid #cac7c7;
  }
  .footer-section {
    @apply pt-[20px] lg:pt-[84px];
  }

  .news-text {
    @apply lg:gap-[47px] px-[20px] lg:pr-[94px] lg:pl-[100px] lg:pb-[87px];
  }
  .footer-input input,
  .footer-btn {
    @apply border rounded-[5px];
  }

  .footer-detail {
    @apply mt-[25.32px] md:pr-[98px];
  }
  .footer-details {
    @apply grid font-body text-base tracking-tight ml-[10px] mt-[45px] md:ml-[98px]
    grid-cols-2
    xl:grid-cols-[1.85fr_1.2fr_1.8fr_2fr];
  }
  .footer-links li {
    @apply m-0 p-0;
  }

  .footer-links {
    @apply gap-[4px];
  }

  .footer-links a {
    @apply capitalize font-normal text-sm md:text-[14px] leading-[38px] tracking-[0.34px];
  }

  .links-title {
    @apply font-heading font-normal leading-[29px] tracking-[0.34px] text-base lg:text-[18px];
  }

  .socialmedia-links {
    @apply flex mt-[31px];
  }
  hr {
    @apply lg:mt-[208px];
  }
  .rights-reserved {
    @apply flex flex-col md:flex-row md:gap-4 text-[16px] mt-[19px] xl:pl-[98px] xl:pr-[88px];
  }

  .policy-links {
    @apply flex gap-[30px] md:ml-auto;
  }

  .news-text p {
    @apply text-lg xl:text-3xl mb-6;
  }

  /* buttons */

  .btn {
    @apply inline-flex items-center justify-center 
         font-body w-fit border rounded-[5px] 
         whitespace-nowrap;
  }

  .white-btn {
    @apply text-white
  px-[6px] py-[8px]
    lg:py-[8px] lg:px-[31px];
  }

  .tracking-sm {
    @apply text-[10px] md:text-base tracking-[0.34px];
  }

  .tracking-md {
    @apply text-[10px] lg:text-lg tracking-[0.39px];
  }
  .golden-btn {
    @apply border-[var(--color-accent)] text-base text-accent
    py-[4px] px-[8px] md:py-[8px] md:px-[37px];
  }
}
