/* header */
@layer layout {
  nav {
    @apply px-[65px];
  }
}

@layer components {
  .fixed-header {
    @apply fixed left-0 z-50 items-center w-full flex justify-between top-[33px] bg-transparent transition-colors transition-shadow duration-300 ease-linear;
  }

  .navbar {
    @apply hidden items-center font-body capitalize md:flex tracking-[0.34px] gap-[24px];
  }
  .logo {
    @apply hidden md:block w-auto object-contain;
  }
  .menu-btn {
    @apply md:hidden text-black text-2xl;
  }
  .menu-icon {
    @apply p-3 mt-60 md:hidden fixed top-12.5 left-0 w-full bg-white z-40;
  }

  .menu-icon ul {
    @apply text-black;
  }

  .menu-icon li,
  .menu-icon li button {
    @apply text-sm px-16 py-6  rounded-sm ml-auto;
  }
  .header-sticky {
    @apply top-0 bg-black/85 backdrop-blur-md shadow-[0_4px_20px_rgba(0,0,0,0.25)];
  }

  .heading-hero {
    @apply font-heading leading-[1] text-white text-4xl tracking-[1.14px];
  }
  .hero-content {
    @apply absolute items-center text-center gap-[39px];
  }
  .hero-content-spacing {
    @apply gap-[39px] top-[380px] px-[396px] bottom-[279px];
  }

  .title-base {
    @apply text-2xl leading-[100%] tracking-[0.8px];
  }

  .title-md {
    @apply font-normal text-base leading-[100%] tracking-[0.8px] md:text-xl lg:text-3xl;
  }

  .title-lg {
    @apply text-4xl;
  }

  .main-title {
    @apply text-3xl tracking-[0.8px];
  }

  .sub-title {
    @apply text-base font-normal tracking-normal leading-[100%];
  }

  /* our-story */

  .story-content {
    @apply gap-[45px];
  }

  .story-details {
    @apply gap-[30px];
  }

  .story-heading {
    @apply gap-[24px];
  }

  .text-content {
    @apply opacity-50 gap-[30px] text-[var(--color-darkolive)];
  }

  /* Why book with us section */

  .why-book-inner {
    @apply items-center text-center lg:gap-[50px];
  }

  .info-block {
    @apply items-center gap-[13px];
  }

  .icon-title {
    @apply items-center gap-[20px];
  }

  .icon-title-text {
    @apply font-body font-normal text-base text-center tracking-[0.43px] leading-[100%];
  }
  .info-text p {
    @apply px-[7.5px] font-normal text-xs leading-[22px] text-center;
  }
  .heading-title {
    @apply font-heading text-xl sm:text-2xl md:text-3xl
         font-normal leading-none tracking-[1.14px] lg:text-4xl;
  }
  /* our-accommodation */
  .accommodation-content {
    @apply gap-[21px] lg:ml-[101px] lg:mr-[98px];
  }
  .accommodation-heading {
    @apply px-2 flex items-center justify-between;
  }
  .accommodation-detail {
    @apply font-light text-base tracking-[0.34px] leading-[25px] lg:mr-[622px];
  }
  .accommodation-card {
    @apply grid  lg:grid-cols-3 items-start w-full mt-[80px] gap-[41px] lg:pl-[99px] lg:pr-[98px];
  }
  .overlay-content {
    @apply absolute bottom-35 right-[54px] left-[27.67px] font-body text-black gap-[7px];
  }
  .tent-title {
    @apply font-body font-normal text-xl leading-[36px] tracking-[0.54px];
  }

  .explore-link {
    @apply font-body relative text-[15px] cursor-pointer mt-[18px] decoration-0 tracking-[0.32px];
  }
  .explore-link::after {
    content: "";
    @apply absolute left-0 top-[26.39px] w-[64px] h-[1px] bg-current;
  }

  /* experience */

  .experiences {
    @apply lg:ml-[103px] gap-[45px];
  }

  .experiences-heading {
    @apply gap-[24px];
  }
  .experiences-content {
    @apply mt-[255px] gap-[30px];
  }

  .experiences-description {
    @apply font-body text-base lg:mr-[657px];
  }

  .experience-actions {
    @apply flex flex-col md:flex-row md:px-2 lg:flex-row items-center w-full;
  }

  .game-drives {
    @apply flex items-center gap-[52px] ml-auto mr-[103px];
  }

  .arrow-btn {
    @apply flex gap-[24px];
  }
  /* Enquire Now */

  .swiper-wrapper-custom {
    @apply relative w-full;
  }

  .swiper-button-prev {
    @apply left-0 ml-[33px];
  }

  .swiper-button-next {
    @apply right-0 mr-[33px];
  }
  .swiper-wrapper-custom .swiper-button-next {
    @apply right-[33.05px];
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    @apply hidden;
  }

  .slide {
    @apply relative w-full;
  }

  .slide-content {
    @apply flex flex-col items-center absolute justify-center text-center top-30 px-[24px] lg:px-[284px] lg:top-[253px] lg:bottom-[205px];
  }
  .slide-content .review,
  .slide-content .author {
    @apply font-normal font-heading text-center leading-none tracking-[0.8px];
  }

  .slide-content .review {
    @apply text-[8px] md:text-l lg:text-[22px];
  }

  .slide-content .author {
    @apply text-[8px] mt-[20px] md:text-l lg:text-[20px];
  }
  .slide-content .white-btn {
    @apply px-2 text-[6px] mt-2 md:text-lg md:mt-10 lg:mt-[33px] lg:py-[8px] lg:px-[31px];
  }

  .mySwiper .swiper-pagination-bullet {
    @apply w-2 h-2 border border-white rounded-full;
  }

  .mySwiper .swiper-pagination-bullet-active {
    @apply bg-white;
  }

  /* dining */
  .Dining-subsection {
    @apply gap-[24px];
  }
  .Dining-grid {
    @apply gap-[64px] lg:mb-[110px] lg:ml-[114px] lg:mt-[110px] lg:mr-[109px];
  }

  .path {
    @apply w-screen mt-[90px];
  }

  /* footer */

  .footer-input {
    @apply grid gap-[26px] min-h-[57px] grid-cols-1 md:grid-cols-2 lg:grid-cols-[1fr_1fr_1.5fr_0.8fr];
  }
  .footer-input input {
    @apply border font-body text-base leading-none rounded-sm px-6 py-4 lg:pt-[16px] lg:pb-[17px] lg:pr-[22px];
    border: 2px solid #cac7c7;
  }
  .footer-section {
    @apply pt-[84px];
  }

  .news-text {
    @apply gap-[47px] lg:pr-[94px] lg:pl-[100px] lg:pb-[87px];
  }
  .footer-input input,
  .footer-btn {
    @apply border rounded-[5px] pl-[22px];
  }

  .footer-detail {
    @apply mt-[25.32px] pr-[98px];
  }
  .footer-details {
    @apply grid font-body text-base tracking-tight mt-[45px] ml-[98px] gap-[20px]
    grid-cols-1
    md:grid-cols-2
    lg:grid-cols-[1.85fr_1.2fr_1.8fr_2fr];
  }
  .footer-links li {
    @apply m-0 p-0;
  }

  .footer-links {
    @apply gap-1 leading-[38px];
  }

  .footer-links a {
    @apply capitalize font-normal text-sm md:text-[14px] leading-[38px] tracking-[var(--ls-tight)];
  }

  .links-title {
    @apply font-heading font-normal text-lg leading-[var(--lh-lg)]
tracking-[var(--ls-tight)];
  }

  .socialmedia-links {
    @apply flex gap-[10px] mt-[31px];
  }
  hr {
    @apply mt-[208px];
  }
  .rights-reserved {
    @apply md:flex-row md:gap-4 text-[16px] mt-[19px] lg:pl-[98px] lg:pr-[88px];
    color: var(--color-dark);
  }

  .policy-links {
    @apply flex gap-2 md:gap-4 lg:gap-[30px] lg:ml-auto;
  }

  .news-text p {
    @apply text-base lg:text-3xl mb-6;
  }

  /* buttons */

  .white-btn {
    @apply text-white whitespace-nowrap font-body md:text-base lg:text-lg rounded-sm w-fit border py-2 px-4 lg:py-[8px] lg:px-[31px];
  }

  .tracking-sm {
    @apply tracking-[0.34px];
  }

  .tracking-md {
    @apply tracking-[0.39px];
  }
  .golden-btn {
    @apply border border-[var(--color-accent)] rounded-[5px] font-body text-base text-accent w-fit py-[8px] px-[37px];
  }
}
