@layer layout {
  /* header */
  .header {
    @apply min-h-screen w-full bg-no-repeat bg-cover bg-center relative;
    background-image: url("../images/HomepageImg.png");
  }

  .hero {
    @apply absolute inset-0 flex items-center justify-center;
  }

  /* our-story */
  .our-story {
    @apply items-center justify-center grid 
    grid-cols-1
    lg:grid-cols-2
      relative z-10 mt-[66px] gap-20 xl:ml-[100px] xl:mr-[186px] xl:gap-[143px];
  }

  .section-container {
    @apply relative overflow-hidden;
  }

  /* Why book with us section */

  .why-book-with-us {
    @apply w-full flex justify-center;
  }
  .book-section {
    @apply mt-[20px] md:mt-20 xl:mt-0 
    grid grid-cols-2 
    xl:grid-cols-4 
    lg:justify-center gap-[32px];
  }

  /* experience */
  .experiences-wrapper {
    @apply w-full relative;
  }
  /* dining */
  .Dining {
    @apply flex xl:mr-[116px];
  }
}
