@layer layout {
  /* header */
  .header {
    @apply min-h-screen pt-12.5 w-full bg-no-repeat bg-cover bg-center relative;
    background-image: url("../images/HomepageImg.png");
  }

  .hero {
    @apply absolute inset-0 flex items-center justify-center;
  }

  /* our-story */
  .our-story {
    @apply items-center justify-center grid 
    grid-cols-1
    lg:grid-cols-2
      relative z-10 mt-[66px] gap-20 lg:ml-[100px] lg:mr-[186px] lg:gap-[143px];
  }

  .hero-section {
    @apply relative overflow-hidden;
  }

  /* Why book with us section */

  .why-book-with-us {
    @apply w-full flex justify-center;
  }
  .book-section {
    @apply mt-[20px] md:mt-20 lg:mt-0 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 lg:justify-center gap-[32px];
  }

  /* experience */
  .experiences-wrapper {
    @apply w-full relative bg-no-repeat bg-cover bg-center h-[683px];
    background-image: url("../images/Lion.png");
  }
  /* dining */
  .Dining {
    @apply lg:flex lg:mr-[116px];
  }

  /* enquire */
  .EnquireNow {
    @apply relative overflow-hidden;
  }
}
