@layer layout {
  /* header */
  .header {
    @apply min-h-screen w-full bg-no-repeat bg-cover bg-center relative;
    background-image: url("../images/HomepageImg.png");
  }

  .hero {
    @apply absolute inset-0 flex items-center justify-center;
  }

  /* our-story */
  .our-story {
    @apply grid items-center justify-center relative z-10 px-[20px] mt-[66px] gap-20
     xl:px-0 xl:ml-[100px] xl:mr-[186px] xl:gap-[143px];
  }

  .section-container {
    @apply relative overflow-hidden;
  }
  /* Why book with us section */
  .book-section {
    @apply grid mt-[20px] md:mt-20 xl:mt-0 lg:justify-center lg:px-[100px] xl:px-0 gap-[32px];
  }

  /* experience */
  .experiences-wrapper {
    @apply w-full relative;
  }
  /* dining */
  .Dining {
    @apply flex px-[20px] lg:bg-[#f1eded] lg:px-0 lg:mr-[116px];
  }

  .dining-detail {
    @apply grid gap-[20px] lg:gap-0;
  }
}
