/* fade-in */
@keyframes fadeInScroll {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes textDance {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes menuReveal {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-dance {
  @apply animate-[textDance_3s_ease-in-out_infinite] lg:animate-none;
}

.animate-fadeIn-scroll {
  @apply opacity-0;
}

.img-cover-full {
  @apply block w-full object-cover h-auto;
}
/* font-size */
.text-15 {
  @apply text-[15px];
}
.text-32 {
  @apply text-[32px];
}
.text-36 {
  @apply text-[36px];
}

.heading-xl {
  @apply text-[50px];
}

/* line-height */
.lh22-5 {
  @apply leading-[22.5px];
}

/* letter-spacing */
.title-ls-tight {
  @apply tracking-[0.77px];
}

.title-ls-wide {
  @apply tracking-[1.14px];
}

/* margin-top */
.section-mt {
  @apply mt-[50px] xl:mt-[150px];
}

/* spacing */
.page-container {
  @apply xl:ml-[117px] xl:mr-[116px];
}

/* title */
.title-md :is(h1, h2, h3, h4, h5, h6) {
  @apply font-normal text-[18px] xl:text-3xl;
}

.main-heading :is(h1, h2, h3, h4, h5, h6) {
  @apply font-semibold md:font-normal text-center text-2xl;
}

.sub-title :is(h1, h2, h3, h4, h5, h6) {
  @apply text-[24px] xl:text-base font-semibold md:font-normal tracking-normal leading-[100%];
}

/* font-family */
.title-body :is(h1, h2, h3, h4, h5, h6) {
  @apply font-heading;
}

/* font-weight */
.title-normal :is(h1, h2, h3, h4, h5, h6) {
  @apply font-normal;
}
.title-light :is(h1, h2, h3, h4, h5, h6) {
  @apply md:font-light;
}

/* color */
.title-white :is(a, p, h1, h2, h3, h4, h5, h6),
.text-white-primary :is(a, p, span) {
  @apply text-white;
}

.bg-light {
  @apply bg-[var(--light-bg)];
}

/* opacity */

.text-faded {
  @apply opacity-40;
}

.text-muted {
  @apply opacity-50;
}

.text-light {
  @apply opacity-60;
}

/* padding-resp */
.p-responsive {
  @apply px-20 py-10 xl:px-0 xl:py-0;
}

/* flex-direction */

.flex-col-layout {
  @apply flex flex-col;
}

/* gap */

.g-10 {
  @apply gap-[10px];
}

.g-18 {
  @apply xl:gap-[18px];
}

.g-20 {
  @apply gap-[20px];
}

.g-45 {
  @apply gap-[45px];
}

.g-24 {
  @apply gap-[24px];
}

.g-30 {
  @apply gap-[30px];
}

/* alignments */

.absolute-center {
  @apply absolute inset-0 text-center items-center justify-center;
}

.absolute-center-col {
  @apply inset-0 flex flex-col items-center justify-center;
}

.absolute-center-x {
  @apply absolute inset-0 flex justify-center;
}

/* type-heading */

.type-heading :is(a, span, p, h1, h2, h3, h4, h5, h6) {
  @apply xl:leading-[100%] xl:tracking-[0.8px];
}

/* grid-view */
.grid-responsive-2 {
  @apply grid grid-cols-1 md:grid-cols-2;
}

.grid-responsive-3 {
  @apply grid grid-cols-1 md:grid-cols-3;
}

.grid-responsive-4 {
  @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4;
}

.grid-footer-input {
  @apply grid md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-[1fr_1fr_1.5fr_0.8fr];
}

.grid-footer-details {
  @apply grid md:grid-cols-4 xl:grid-cols-[1.85fr_1.2fr_1.8fr_2fr];
}

.overlay-section {
  @apply relative z-0 w-full;
}

.overlay-section::before {
  content: "";
  @apply absolute inset-0 bg-black/40 md:bg-transparent;
  z-index: 0;
}
