.img-cover-full {
  @apply block  w-full object-cover h-auto;
}
/* font-size */
.text-15 {
  @apply text-[15px];
}
.text-32 {
  @apply text-[32px];
}
.text-36 {
  @apply text-[36px];
}

.heading-xl {
  @apply text-[50px];
}

/* line-height */
.lh22-5 {
  @apply leading-[22.5px];
}

/* letter-spacing */
.title-ls-tight {
  @apply tracking-[0.77px];
}

.title-ls-wide {
  @apply tracking-[1.14px];
}

/* margin-top */
.section-mt {
  @apply mt-[50px] xl:mt-[150px];
}

/* spacing */
.page-container {
  @apply lg:ml-[117px] lg:mr-[116px];
}

/* title */
.title-md :is(h1, h2, h3, h4, h5, h6) {
  @apply font-normal md:text-xl xl:text-3xl;
}

.sub-title :is(h1, h2, h3, h4, h5, h6) {
  @apply text-[10px] text-[12px] lg:text-[14px] xl:text-base font-normal tracking-normal leading-[100%];
}

/* font-family */
.title-body :is(h1, h2, h3, h4, h5, h6) {
  @apply font-heading;
}

/* font-weight */
.title-normal :is(h1, h2, h3, h4, h5, h6) {
  @apply font-normal;
}
.title-light :is(h1, h2, h3, h4, h5, h6) {
  @apply font-light;
}

/* color */
.title-white :is(a, p, h1, h2, h3, h4, h5, h6),
.text-white-primary :is(a, p, span) {
  @apply text-white;
}

.bg-light {
  @apply bg-[var(--light-bg)];
}

/* opacity */

.text-faded {
  @apply opacity-40;
}

.text-muted {
  @apply opacity-50;
}

.text-light {
  @apply opacity-60;
}

/* button */
.btn {
  @apply inline-flex items-center justify-center;
}

/* padding-resp */
.p-responsive {
  @apply px-10 py-10 xl:px-0 xl:py-0;
}

/* flex-direction */

.flex-col-layout {
  @apply flex flex-col;
}

/* gap */

.gap-10 {
  @apply gap-[10px];
}

.g-18 {
  @apply xl:gap-[18px];
}

.g-20 {
  @apply gap-[20px];
}

.g-45 {
  @apply gap-[45px];
}

.g-24 {
  @apply gap-[24px];
}

.g-30 {
  @apply gap-[30px];
}

/* type-heading */

.type-heading :is(a, span, p, h1, h2, h3, h4, h5, h6) {
  @apply leading-[100%] tracking-[0.8px];
}
