@layer {
  .letter-split {
    font-size: 18px;
    font-weight: 400;
    background-color: black;
    color: white;
    height: 400px;
    width: 400px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
  }
  .line-spliting {
    font-size: 14px;
    line-height: 1.2;
  }

  .word-split {
    margin-left: auto;
  }

  .container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flair {
    position: fixed;
    width: 50px;
    opacity: 0;
    pointer-events: none;
  }
}
