.main-container {
  @apply flex flex-col gap-[12px];
}
.container,
.container-2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.btn {
  padding: 12px 24px;
  cursor: pointer;
}
/* btn-scale */
.btn-scale {
  background: #4f46e5;
  color: white;
  border: none;
  transition: 0.3s ease;
}

.btn-scale:hover {
  transform: scale(1.1);
}

/* btn-slide */

.btn-slide {
  position: relative;
  overflow: hidden;
  color: white;
  background: #111;
  border: none;
}

.btn-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  color: white;
  background: #4f46e5;
  transition: 0.3s;
}

.btn-slide:hover::before {
  left: 0;
}

.btn-slide:hover {
  color: white;
}

.btn-slide span {
  position: relative;
}

/* btn-glow  */
.btn-glow {
  background: #4f46e5;
  color: white;
  border: none;
  transition: 0.3s;
}

.btn-glow:hover {
  box-shadow: 0 0 20px #4f46e5;
}

/* btn-ripple  */
.btn-ripple {
  position: relative;
  overflow: hidden;
  background: #4f46e5;
  color: white;
  border: none;
}

.btn-ripple::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.btn-ripple:active::after {
  width: 200px;
  height: 200px;
  transition: 0.4s;
}
/* btn-border */
.btn-border {
  position: relative;
  background: transparent;
  color: #4f46e5;
  border: 2px solid #4f46e5;
  overflow: hidden;
}

.btn-border::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background: #4f46e5;
  transition: 0.3s;
  z-index: -1;
}

.btn-border:hover::before {
  height: 100%;
}

.btn-border:hover {
  color: white;
}

/* next or read more button */
.btn-icon {
  background: #4f46e5;
  color: white;
  border: none;
  transition: 0.3s;
}

.btn-icon:hover {
  transform: translateX(5px);
}

/* bounce btn */

.btn-bounce {
  background: #4f46e5;
  color: white;
  border: none;
}

.btn-bounce:active {
  transform: scale(0.9);
}
/* btn-gradient  */
.btn-gradient {
  border: none;
  color: white;
  background: linear-gradient(45deg, #4f46e5, #06b6d4);
  background-size: 200%;
  transition: 0.4s;
}

.btn-gradient:hover {
  background-position: right;
}

/* btn fill */
.btn-fill {
  border: 2px solid #4f46e5;
  background: transparent;
  color: #4f46e5;
  transition: 0.3s;
}

.btn-fill:hover {
  background: #4f46e5;
  color: white;
}

.btn-underline {
  position: relative;
  background: none;
  border: none;
  color: #4f46e5;
}

.btn-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #4f46e5;
  transition: 0.3s;
}

.btn-underline:hover::after {
  width: 100%;
}
