@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800&display=swap");

@import "tailwindcss";

@import "./base.css";
@import "./components.css";
@import "./layout.css";
@import "./utilities.css";

@theme {
  --breakpoint-sm: 320px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1152px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1920px;
  --color-primary: #e53935;
  --color-primary-dark: #c71f37;
  --color-light-bg: #f7f7f7;
  --color-badge-green: #27a860;
  --color-star: #ffd700;
  --font-jost: "Jost", sans-serif;
}
