.morph-main {
  @apply relative overflow-hidden cursor-pointer;
}

.morph-text {
  @apply fixed top-1/2 left-1/2 -translate-x-1/2 text-center text-[#000] z-50;
}

.morph-wrapper {
  @apply flex items-center justify-center min-h-screen;
}

.morph-svg {
  @apply absolute w-full h-full;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.morph-path {
  vector-effect: non-scaling-stroke;
}
