@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme {
    --font-roboto: "Roboto", sans-serif;
    --line-height-150: 1.5;
    --img-width-medium: 160px;
    --img-height-medium: 107px;
    --height-640: 640px;
    --height-460: 460px;
    --height-520: 520px;
    --height-402: 402px;
}

.font-roboto {
    font-family: var(--font-roboto);
}

.logo-size {
    height: 36px;
    width: 84px;
}

.img-medium {
    width: var(--img-width-medium);
    height: var(--img-height-medium);
}

.h-640 {
    height: var(--height-640);
}

.h-460 {
    height: var(--height-460);
}

.h-520 {
    height: var(--height-520);
}

.line-height {
    line-height: var(--line-height-150);
}

.h-402 {
    height: var(--height-402);
}