@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");

@keyframes fadeInScroll {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
* {
  margin: 0;
  padding: 0;
}

:root {
  --h-100: 100%;
  --h-8: 8px;
  --h-40: 40px;
  --h-560: 560px;
  --h-683: 683px;
  --w-8: 8px;
  --w-40: 400px;
  --w-63: 63%;
  --w-32: 32%;
  --w-50: 50%;
  --w-166: 166px;
  --w-291: 291px;
  --w-294: 294px;
  --w-377: 377px;
  --w-491: 491px;
  --w-619: 619px;
  --w-100: 100%;
  --w-1340: 1340px;
  --w-151383: 1513.83px;
  --w-158: 158px;
  --w-1207: 1207px;
  --w-1243: 1243px;
  --top-0: 0px;
  --left-24: 24px;
  --left-40: 40px;
  --left-101: 101px;
  --right-40: 40px;
  --br-5: 5px;
  --p-10: 10px;
  --p-020: 0px 20px;
  --gap-10: 10px;
  --gap-16: 16px;
  --gap-30: 30px;
  --gap-41: 41px;
  --gap-50: 50px;
  --fs-15: 15px;
  --fs-50: 50px;
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-32: 32px;
  --fs-36: 36px;
  --fw-100: 100;
  --fw-300: 300;
  --fw-400: 400;
  --mt-10: 10px;
  --mt-20: 20px;
  --bottom-24: 24px;
  --mt-50: 50px;
  --mt-100: 100px;
  --mt-110: 110px;
  --mt-120: 120px;
  --mr-100: 100px;
  --pl-100: 100px;
  --p-4: 4px;
  --p-12: 12px;
  --p-50: 50px;
  --pt-50: 50px;
  --pt-100: 100px;
  --p-all: 84px 94px 84px 94px;
  --bottom-40: 40px;
  --bottom-60: 60px;
  --ta-c: center;
  --b-1-w: 1px solid white;
  --bg: #f1eded;
  --bg-lightgrey: #f1eded;
  --b-1-g: 1px solid #809b10;
  --color-w: white;
  --c-232828: #232828;
  --dark-olive: #3c3b0f;
  --light-olive: #809b10;
  --leading-100: 100%;
  --ls-034: 0.34px;
  --poppins: "Poppins", sans-serif;
  --raleway: "Raleway", sans-serif;
}

.w-377 {
  width: var(--w-377);
}

.w-294 {
  width: var(--w-294);
}

.w-63 {
  width: var(--w-63);
}

.w-291 {
  width: var(--w-291);
}

.w-491 {
  width: var(--w-491);
}

.w-166 {
  width: var(--w-166);
}

.gap-41 {
  gap: var(--gap-41);
}

.text-50 {
  font-size: var(--fs-50);
}

.text-color {
  color: var(--dark-olive);
}

.mr-100 {
  margin-right: var(--mr-100);
}

.experience p {
  color: var(--color-w);
}

.bg-grey {
  background-color: var(--bg-lightgrey);
}

nav {
  padding: var(--p-50);
}

.menu-icon {
  padding: var(--p-12);
  margin-top: var(--mt-20);
}

.menu-icon li,
.menu-icon li button {
  font-size: var(--fs-14);
  padding: var(--p-4);
  border-radius: var(--br-5);
  margin-left: auto;
}

.header {
  background-image: url("./assets/HomepageImg.png");
  background-size: cover;
  background-position: var(--ta-c);
  width: var(--w-100);
  background-repeat: no-repeat;
}

.hero {
  position: absolute;
  inset: 0;
  padding-top: var(--pt-50);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: var(--fs-16);
  font-family: var(--raleway);
  color: var(--dark-olive);
}
.section-title {
  font-family: var(--raleway);
  font-weight: var(--fw-300);
  font-size: var(--fs-32);
  text-align: var(--ta-c);
}

.heading-title {
  font-family: var(--raleway);
  color: var(--dark-olive);
  display: block;
}

.tent-title {
  font-family: var(--poppins);
  font-weight: var(--fw-400);
  font-size: var(--fs-26);
  line-height: 36px;
  letter-spacing: 0.54px;
  color: var(--color-w);
}

.why-book-with-us {
  max-width: var(--w-1207);
  opacity: 1;
  margin: 40px auto;
  text-align: var(--ta-c);
  display: flex;
  flex-direction: column;
  gap: var(--gap-50);
}

.our-accommodation {
  max-width: var(--w-1243);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap-41);
  margin-top: var(--mt-110);
}

.overlay-content {
  position: absolute;
  bottom: var(--bottom-24);
  left: var(--left-24);
  font-family: "Poppins", sans-serif;
  color: #000000;
}

img {
  object-fit: cover;
}

.section-wrapper {
  max-width: var(--w-100);
  height: var(--h-683);
  opacity: 1;
  position: relative;
  margin-top: var(--mt-110);
}

.experience {
  inset: 0;
  position: absolute;
  gap: var(--gap-41);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-w);
}

.Dining {
  max-width: var(--w-1340);
  margin-top: var(--mt-100);
}

.Dining .content {
  padding-top: var(--pt-100);
  display: block;
}

.content {
  /* padding: 10px; */
  color: var(--dark-olive);
  height: var(--h-100);
}

.path2 {
  margin-top: var(--mt-120);
  width: var(--w-151383);
}

.EnquireNow {
  position: relative;
  overflow: hidden;
}

.EnquireNow .swiper-button-prev,
.EnquireNow .swiper-button-next {
  position: absolute;
  bottom: var(--bottom-60);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-wrapper-custom {
  position: relative;
}

.swiper-wrapper-custom .swiper-button-prev,
.swiper-wrapper-custom .swiper-button-next {
  position: absolute;
  bottom: var(--bottom-40);
}

.swiper-wrapper-custom .swiper-button-prev {
  left: var(--left-40);
}

.swiper-wrapper-custom .swiper-button-next {
  right: var(--right-40);
}

.slide {
  position: relative;
  max-width: var(--w-100);
}

.slide img {
  max-width: var(--w-100);
  height: var(--h-560);
}

.slide-content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  gap: var(--gap-16);
  padding: var(--p-020);
}

.slide-content .review {
  max-width: var(--w-50);
  font-style: var(--raleway);
  font-weight: var(--fw-400);
}

.slide-content .author {
  margin-top: var(--mt-10);
  display: block;
}

.slide-content .white-btn {
  margin-top: var(--mt-10);
}

.mySwiper .swiper-pagination-bullet {
  max-width: var(--w-8);
  height: var(--h-8);
  border: 1px solid #fff;
}

.mySwiper .swiper-pagination-bullet-active {
  background: var(--color-w);
}

footer {
  background-color: var(--bg-lightgrey);
  display: flex;
  gap: var(--gap-10);
  flex-direction: column;
}

footer hr {
  border: 0.5px solid #b6b6b6;
}

.input-section {
  margin-top: var(--mt-100);
}

.footer-section {
  padding: var(--p-all);
}

.footer-input {
  opacity: 1;
  border-radius: var(--br-5);
  padding: var(--p-12);
  border: 1px solid #cac7c7;
  margin-top: var(--mt-50);
}

.footer-details {
  margin-top: var(--mt-20);
}

.footer-section p {
  margin-top: var(--mt-20);
  font-weight: var(--fw-300);
}

.footer-links p {
  font-family: var(--raleway);
  font-weight: var(--fw-400);
  font-size: var(--fs-18);
  line-height: 29px;
  letter-spacing: var(--ls-034);
}

.footer-links a {
  font-family: var(--poppins);
  font-weight: var(--fw-400);
  opacity: 0.4;
  font-size: var(--fs-14);
  line-height: 38px;
  letter-spacing: var(--ls-034);
  text-transform: capitalize;
}

.rights-reserved {
  padding: 20px 94px 20px 94px;
  color: var(--c-#232828);
}

.white-btn {
  border: var(--b-1-w);
  font-family: var(--poppins);
  padding: var(--p-10);
  border-radius: var(--br-5);
  height: var(--h-40);
  color: var(--color-w);
  font-size: var(--fs-18);
}

.golden-btn {
  height: var(--h-40);
  padding: 8px 37px 8px 37px;
  border-radius: var(--br-5);
  font-size: var(--fs-16);
  border: var(--b-1-g);
  color: var(--light-olive);
}

.explore-btn {
  font-family: var(--poppins);
  font-weight: var(--fw-400);
  font-size: var(--fs-15);
  margin-top: var(--mt-20);
  color: var(--color-w);
  text-decoration: underline;
  cursor: pointer;
}

.footer-btn {
  width: 206px;
  height: 52px;
  border: 1px solid #3c3b0f;
  border-radius: var(--br-5);
  margin-top: var(--mt-50);
}

.text-paragraph {
  /* padding: 10px; */
  font-family: var(--poppins);
  color: rgba(60, 59, 15, 0.5);
}

.font-poppins {
  font-family: var(--poppins);
}

.font-raleway {
  font-family: var(--raleway);
}
