@layer base {
  :root {
    --font-body: "Inter", sans-serif;
    --font-heading: "Playfair Display", serif;
  }
  body {
    @apply text-[#3D3B33];
    font-family: var(--font-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-[#3D3B33];
    font-family: var(--font-heading);
  }

  p,
  a,
  button,
  input,
  textarea,
  select {
    @apply text-[#3D3B33];
    font-family: var(--font-body);
  }
}
