@layer components {
  .hero-loop-sentence {
    @apply block relative z-[60] h-full overflow-hidden text-center text-[#3D3B33] bg-[#CCC0DD] font-normal uppercase text-[10px] leading-[12px] tracking-[0.4px] lg:text-[11px] lg:leading-[14px] lg:tracking-[0.5px];
    white-space: nowrap;
    font-family: var(--font-body);
  }

  .hero-loop-sentence-text {
    @apply inline-block py-[6px] lg:py-[7px] pl-[100%];
    animation: scroll-left 10s linear infinite;
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  header {
    @apply relative bg-no-repeat bg-cover bg-center;
    background-image: url("../images/mobile-header.png");
    @apply lg:bg-[url('../images/mobile-header.png')];
  }
  /* Header Section */
  .hero {
    @apply h-[380px] lg:h-[800px];
  }

  .navbar {
    @apply sticky top-0 mb-0 w-full z-50 flex bg-[#F5F2EB] xl:bg-transparent items-center justify-between py-[13px] px-5 transition-colors duration-300 ease-out lg:-mb-[80px] lg:py-5 lg:px-[48px];
  }
  .navbar-scrolled {
    @apply bg-[#F5F2EB] lg:bg-[#3D3B33];
  }

  .desktop-nav {
    @apply hidden lg:flex justify-between items-center w-full;
  }
  /* Mobile Navbar */
  .navbar-left-mobile {
    @apply flex items-center justify-between w-full lg:hidden;
  }

  .menu {
    @apply text-[#3D3B33] cursor-pointer;
  }

  .menu-items {
    @apply hidden absolute left-0 top-full mt-6 w-[100px] bg-[#F5F2EB] flex-col gap-1 shadow-md rounded-md px-5 py-4 z-50;
  }

  .menu-items.show {
    @apply flex;
  }

  .menu-items a {
    @apply w-full font-normal text-[12px] leading-[16px] no-underline px-3 py-2 rounded-[8px];
    font-family: var(--font-body);
  }

  .cart {
    @apply text-[#3D3B33];
  }

  .navbar-left-desktop {
    @apply hidden lg:flex gap-6;
  }

  .navbar-left-desktop a {
    @apply font-normal text-[16px] text-[#F5F2EB] no-underline px-3 py-2 rounded-[10px];
    line-height: 22px;
    font-family: var(--font-body);
  }

  .navbar-logo {
    @apply hidden lg:block mx-auto;
  }

  .navbar-right {
    @apply hidden lg:flex gap-6 items-center;
  }

  .navbar-right a {
    @apply text-[#F5F2EB] font-normal text-[16px] no-underline px-3 py-2 rounded-[10px];
    line-height: 22px;
    font-family: var(--font-body);
  }

  .desktop-nav {
    @apply hidden lg:flex justify-between items-center w-full;
  }

  .hero-content-left {
    @apply absolute bottom-0 left-0 flex flex-col gap-4 lg:gap-6 px-5 pb-5 lg:pb-12 lg:py-5 lg:px-[48px];
  }

  .hero-content-left h3 {
    @apply text-[#F5F2EB] text-[40px] lg:text-[60px] font-normal leading-[46px] lg:leading-[66px];
    font-family: var(--font-body);
  }

  .hero-content-left h4 {
    @apply text-[#F5F2EB] text-center text-[40px] lg:text-[60px] font-normal leading-[46px] lg:leading-[66px];
    font-family: var(--font-heading);
  }

  .hero-cta-wrapper a {
    @apply font-normal text-[12px] text-center w-fit rounded-[8px] lg:rounded-[10px] lg:text-[13px] lg:leading-[18px] px-5 py-2 lg:px-6 lg:py-[11px];
    font-family: var(--font-body);
  }

  /* Hero Section */
  .hero-section {
    @apply flex flex-col items-center gap-8 px-5 md:px-0;
  }
  .hero-content {
    @apply flex flex-col gap-8 items-center;
  }
  .hero-text {
    @apply text-center text-[#3D3B33] font-normal text-[18px] leading-[24px] lg:text-[22px] lg:leading-[26px];
    font-family: var(--font-body);
  }

  .hero-text-span {
    @apply align-super text-[18px] leading-[24px] lg:text-[22px] lg:leading-[26px];
    font-family: var(--font-body);
  }

  .hero-heading h2 {
    @apply text-center px-0 lg:px-[200px] font-normal text-[32px] leading-[36px] lg:text-[60px] lg:leading-[66px];
  }

  .hero-cta {
    @apply inline-flex items-center justify-center text-center font-normal border lg:rounded-[10px] px-5 py-2 lg:py-[11px] lg:px-6 text-[12px] leading-[16px] lg:text-[13px] lg:leading-[18px];
    font-family: var(--font-body);
  }

  .interactive-link {
    @apply inline-flex items-center justify-center no-underline transition-colors duration-300 ease-out rounded-[8px] rounded-[10px] w-fit;
    background-color: var(--link-bg-color);
    color: var(--link-text-color);
    border-color: var(--link-border-color);
  }

  .link-motion {
    @apply transition-all duration-300 ease-out;
  }

  .link-motion:hover {
    @apply -translate-y-[2px];
  }

  .interactive-link:hover {
    background-color: var(--link-hover-bg-color);
    color: var(--link-hover-text-color);
  }

  .interactive-link-light {
    --link-bg-color: #f5f2eb;
    --link-text-color: #3d3b33;
    --link-border-color: #f5f2eb;
    --link-hover-bg-color: #3d3b33;
    --link-hover-text-color: #f5f2eb;
  }

  .interactive-link-dark {
    --link-bg-color: transparent;
    --link-text-color: #3d3b33;
    --link-border-color: #3d3b33;
    --link-hover-bg-color: #3d3b33;
    --link-hover-text-color: #f5f2eb;
  }

  .interactive-link-cream {
    --link-bg-color: transparent;
    --link-text-color: #f5f2eb;
    --link-border-color: transparent;
    --link-hover-bg-color: #f5f2eb;
    --link-hover-text-color: #3d3b33;
  }

  .interactive-link-darkbg {
    --link-bg-color: #3d3b33;
    --link-text-color: #f5f2eb;
    --link-border-color: #3d3b33;
    --link-hover-bg-color: #f5f2eb;
    --link-hover-text-color: #3d3b33;
  }

  /* Shop our products */
  .product-title {
    @apply flex justify-between items-center;
  }
  .product-title h4 {
    @apply font-normal text-[#3D3B33] text-[22px] leading-[26px] lg:text-[32px] lg:leading-[36px];
    font-family: var(--font-body);
  }
  .product-title a {
    @apply hidden sm:block font-normal text-[#3D3B3399] text-[16px] leading-[22px] lg:block;
    font-family: var(--font-body);
  }

  .product-swiper {
    @apply w-full px-0;
  }

  .product-card {
    @apply relative flex w-full min-w-0 flex-col gap-4 lg:gap-6;
  }

  .product-badge {
    @apply absolute top-[10px] lg:top-3 left-[10px] lg:left-[12px] bg-[#F5F2EB] text-[#3D3B33] px-1 py-[2px] lg:px-[6px] lg:py-1 font-normal text-[9px] leading-[11px] lg:text-[10px] lg:leading-[12px] tracking-[0.16px] lg:tracking-[0.2px];

    font-family: var(--font-body);
  }

  .product-img {
    @apply w-full;
  }

  .product-img img {
    @apply h-[184px] w-full object-cover lg:h-[361px];
  }

  .product-info {
    @apply flex flex-col gap-[6px] lg:gap-2;
  }
  .product-info h4 {
    @apply font-normal text-[#3D3B33] text-[15px] leading-[21px] lg:text-[16px] lg:leading-[22px];
    font-family: var(--font-body);
  }
  .product-info h5 {
    @apply font-normal text-[#3D3B33] text-[15px] leading-[21px] lg:text-[16px] lg:leading-[22px];

    font-family: var(--font-heading);
  }
  .product-info p {
    @apply font-normal text-[#3D3B3399] text-[13px] leading-[18px] lg:text-[14px] lg:leading-[20px];
    font-family: var(--font-body);
  }

  .product-info a {
    @apply block text-center w-full font-normal border text-[12px] leading-[16px] lg:text-[13px] lg:leading-[18px] py-2 rounded-[6px] lg:rounded-[8px];
    font-family: var(--font-body);
  }

  .product-card {
    @apply flex-shrink;
  }
  .scent-desc {
    @apply absolute bottom-0 left-0 right-0 px-5 py-4 bg-black/60 backdrop-blur-sm;
  }

  .scent-desc p {
    @apply text-[#F5F2EB] text-[13px] leading-[18px] font-normal;
    font-family: var(--font-body);
  }
  /* Our signature scents */
  .signature-cards-wrapper {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-3 lg:gap-5;
  }

  .signature-card {
    @apply w-full min-w-0;
  }

  .signature-card-img {
    @apply relative h-[180px] w-full rounded-[10px];
  }

  .signature-card-img img {
    @apply w-full h-full object-cover;
  }

  .signature-card-title h4 {
    @apply text-[#F5F2EB] text-[20px] lg:text-[22px] leading-[24px]
lg:leading-[26px];

    font-family: var(--font-heading);
  }
  .signature-card-link-row {
    @apply flex justify-between items-center mt-2;
  }

  .signature-card-link-row a img {
    @apply w-6 h-6;
  }
  .signature-card-img {
    @apply relative h-[180px] w-full overflow-hidden rounded-[10px] lg:h-[433px];
  }
  .signature-card-details {
    @apply absolute bottom-0 left-0 right-0 px-5 py-5 lg:px-6 lg:pb-6 flex justify-between items-center;
  }
  .signature-card-title h4 {
    @apply text-[#F5F2EB] font-normal text-[20px] leading-[24px] lg:text-[22px] lg:leading-[26px];

    font-family: var(--font-heading);
  }
  .arrow-btn {
    @apply flex items-center justify-center w-5 h-5 lg:w-6 lg:h-6 rounded-full bg-[#F5F2EB33] backdrop-blur-sm;
  }
  .arrow-icon {
    @apply block w-[5px] h-[5px] border-t-2 border-r-2 border-[#F5F2EB] rotate-45;
  }
  /* Aircare Section */
  .aircare-wrapper {
    @apply grid grid-cols-1 xl:grid-cols-2 gap-6 lg:gap-[147px];
  }

  /* Left Content */
  .aircare-content {
    @apply flex flex-col gap-6;
  }

  .aircare-text {
    @apply flex flex-col gap-6;
  }

  /* Heading */
  .aircare-text h3 {
    @apply font-normal text-[#3D3B33] text-[22px] leading-[26px]
  lg:text-[32px] lg:leading-[36px];
    font-family: var(--font-body);
  }

  .aircare-tm {
    @apply align-super text-[12px] lg:text-[16px];
  }

  /* Paragraph */
  .aircare-text p {
    @apply font-normal text-[#3D3B33]
  text-[20px] leading-[24px]
  lg:text-[22px] lg:leading-[26px];

    font-family: var(--font-heading);
  }

  /* Features Grid */
  .aircare-features {
    @apply flex flex-col gap-6 mt-4;
  }
  .aircare-details {
    @apply mt-4;
  }
  .aircare-hr {
    @apply text-[#3D3B331F];
  }
  /* Feature Item */
  .aircare-feature {
    @apply flex gap-4;
  }

  .aircare-feature img {
    @apply h-[120px] w-[120px];
  }

  /* Feature Text */
  .aircare-feature h4 {
    @apply font-normal text-[#3D3B33]
  text-[16px] leading-[22px]
  lg:text-[18px] lg:leading-[24px];
    font-family: var(--font-body);
  }

  .aircare-feature p {
    @apply font-normal text-[#3D3B3399]
  text-[13px] leading-[18px]
  lg:text-[14px] lg:leading-[20px];
    font-family: var(--font-body);
  }

  /* Divider */
  .aircare-divider {
    @apply hidden lg:block w-full h-[1px] bg-[#3D3B331F];
  }
  /* fresh air */
  .section-title {
    @apply flex flex-col;
  }

  .section-title h4 {
    @apply font-normal text-[#3D3B33] text-[22px] leading-[26px] lg:text-[32px] lg:leading-[36px];
    font-family: var(--font-body);
  }

  .section-title h5 {
    @apply font-normal text-[#3D3B3366] text-[22px] leading-[26px] lg:text-[32px] lg:leading-[36px];
    font-family: var(--font-body);
  }

  /* Cards Wrapper */
  .cards-wrapper {
    @apply flex flex-col lg:flex-row gap-8 lg:gap-5;
  }

  /* Individual Card */
  .card {
    @apply flex flex-col gap-5;
  }

  .card-media {
    @apply h-[194px] lg:h-[244px] w-full flex-shrink-0;
  }

  .card-media img {
    @apply w-full h-full object-cover;
  }

  /* Card Content */
  .card-content {
    @apply flex flex-col gap-2;
  }

  .card-content h5 {
    @apply font-normal text-[#3D3B33] text-[16px] leading-[22px] lg:text-[22px] lg:leading-[26px];
    font-family: var(--font-body);
  }

  .card-content p {
    @apply font-normal text-[#3D3B33] text-[16px] leading-[20px] lg:text-[22px] lg:leading-[26px];

    font-family: var(--font-heading);
  }
  /* footer */
  .footer-hr {
    @apply text-[#3D3B331F] px-0;
  }

  /* footer */
  .footer-container {
    @apply w-full px-4 lg:px-[48px] pb-[72px] lg:pb-[48px];
  }

  .footer-top {
    @apply flex flex-col gap-[48px] lg:flex-row lg:justify-between;
  }

  .footer-logo img {
    @apply w-auto h-[24px];
  }

  .footer-links {
    @apply grid grid-cols-1 gap-[48px] lg:w-[500px] lg:grid-cols-2 lg:gap-5;
  }

  .footer-col {
    @apply flex flex-col gap-[6px] lg:gap-2;
  }

  .footer-col-title {
    @apply text-[#3D3B3399] text-[13px] leading-[18px] lg:text-[14px] lg:leading-[20px];
    font-family: var(--font-body);
  }

  .footer-col a {
    @apply text-[#3D3B33] text-[13px] leading-[18px] lg:text-[14px] lg:leading-[20px];

    font-family: var(--font-body);
  }

  .footer-bottom {
    @apply flex flex-col gap-[48px] lg:flex-row lg:justify-between lg:items-end;
  }

  .mobile-copyrights {
    @apply block lg:hidden;
  }

  .desktop-copyrights {
    @apply hidden lg:block lg:w-[500px];
  }

  .mobile-newsletter {
    @apply flex flex-col gap-3 lg:hidden;
  }

  .desktop-newsletter {
    @apply hidden lg:flex lg:flex-col lg:gap-4;
  }

  .footer-newsletter h4 {
    @apply text-[#3D3B33] text-[20px] leading-[24px];

    font-family: var(--font-heading);
  }
  .footer-btn a {
    @apply w-full;
  }
  .footer-newsletter input {
    @apply outline-none bg-transparent text-[#3D3B3366] text-[20px] leading-[24px] py-2;

    font-family: var(--font-heading);
  }
  .footer-note {
    @apply text-[#3D3B3366] text-[11px] leading-[14px] lg:text-[13px] lg:leading-[18px];
    font-family: var(--font-body);
  }

  .footer-copy p {
    @apply text-[#3D3B3366] text-[11px] leading-[14px];
    font-family: var(--font-body);
  }
}
